<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <!-- window.location.href = 'survey' -->
</head>
<style>
body{
   background-color: rgb(109, 102, 102); 
}
.card{
    width: 350px;
    height: 450px;
    background-color: #144d97;
    margin: auto;
    box-shadow: 5px 10px 5px #093570;
    border-radius:20px 20px 20px 20px;
}
.svg{
    width: 70%;
    /* margin: auto; */
    margin: 100px 0 0 100px;
    display: block;
}
.title2{
    font-size:20px;
/* font-weight: bold; */
 margin-bottom: 40px;
 margin-right: 50px;
 color:#fff;
 
}
.copyuserid{
    font-size:20px;
/* font-weight: bold; */
 margin-bottom: 40px; 
 margin-right: 50px;
 color: #fff;
  
}
/* .button2{
    margin: 40px 0 0 140px;
    padding: 30px;
    width: 70%;
    border-radius: 60px;
    font-size: 30px;
    font-weight: bold;
    } */
</style>
<body>
    <div>
     <div class="card mb-5">
       <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px; height: 100px;" viewBox="0 0 20 20" fill="#F4D160">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg>
          <div class="success-text">
            <p class="title2 text-center">Hurray! You are in! Here is your UserId:</p>
            <p class="text-center copyuserid">Copy your userId, you will need it in the next step!</p>
            <!-- <button class="btn btn-primary button" type="submit">Create Survey</button> -->
            <!-- <button class="btn btn-primary button" type="submit" onclick="survey">Create Survey</button> -->
          </div>
       </div>
     </div>
    </div>
</body>
</html>